    {% extends "base.html.twig" %}

    {% block title %}
        SymRecipe - Accueil
    {% endblock %}


    {% block body %}
        <div class="container">
            <div class="jumbotron mt-3">
                <h1 class="display-4">Bienvenue sur SymRecipe</h1>
                <p class="lead">SymRecipe est une application de gestion des recettes de cuisine en ligne.
                    elle vous permet de créer de nouvelles recettes ou de voir d'autres qui sont crées par d'autres utilisateurs. </p>
                <hr class="my-4">
                <p>Pour commencer, rendez-vous sur la page d'inscription.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Inscription</a>
                </p>
            </div>
        </div>
    {% endblock %}